---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    email: admin@k8s-demo.de
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-staging-key
    solvers:
    - dns01:
        webhook:
          groupName: acme.hetzner.cloud
          solverName: hetzner
          config:
            secretName: hetzner-dns-token
            zoneName: k8s-demo.de
            apiUrl: https://dns.hetzner.com/api/v1
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    email: admin@k8s-demo.de
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-prod-key
    solvers:
    - dns01:
        webhook:
          groupName: acme.hetzner.cloud
          solverName: hetzner
          config:
            secretName: hetzner-dns-token
            zoneName: k8s-demo.de
            apiUrl: https://dns.hetzner.com/api/v1
