---
- name: Prepare all nodes
  hosts: k3s_cluster
  become: yes
  roles:
    - common

- name: Setup k3s master
  hosts: master
  become: yes
  roles:
    - k3s-master

- name: Setup k3s workers
  hosts: workers
  become: yes
  roles:
    - k3s-worker

- name: Verify cluster
  hosts: master
  become: yes
  tasks:
    - name: Get cluster nodes
      command: k3s kubectl get nodes
      register: nodes_output

    - name: Display cluster nodes
      debug:
        var: nodes_output.stdout_lines
