---
- name: Download k3s install script
  get_url:
    url: https://get.k3s.io
    dest: /tmp/k3s-install.sh
    mode: '0755'

- name: Install k3s master
  shell: |
    INSTALL_K3S_EXEC="server --disable traefik --disable servicelb --write-kubeconfig-mode 644" \
    sh /tmp/k3s-install.sh
  args:
    creates: /usr/local/bin/k3s

- name: Wait for k3s to be ready
  command: k3s kubectl get nodes
  register: result
  until: result.rc == 0
  retries: 30
  delay: 10

- name: Get k3s node token
  slurp:
    src: /var/lib/rancher/k3s/server/node-token
  register: k3s_token

- name: Save token to local file
  copy:
    content: "{{ k3s_token.content | b64decode }}"
    dest: /tmp/k3s-token
  delegate_to: localhost
  become: no

- name: Get kubeconfig
  slurp:
    src: /etc/rancher/k3s/k3s.yaml
  register: kubeconfig

- name: Save kubeconfig locally
  copy:
    content: "{{ kubeconfig.content | b64decode }}"
    dest: "{{ playbook_dir }}/../kubeconfig"
  delegate_to: localhost
  become: no

- name: Update kubeconfig server address
  replace:
    path: "{{ playbook_dir }}/../kubeconfig"
    regexp: 'https://127.0.0.1:6443'
    replace: "https://{{ ansible_host }}:6443"
  delegate_to: localhost
  become: no
